/*Desktop Default layout*/
body {
  background-color: khaki;
  color: black;
  font-family: "Courier New", Courier, monospace;
}

#About {
  border: 0.5em solid goldenrod;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Experience {
  border: 0.5em solid goldenrod;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: center;
  padding: auto;
}
#Connect {
  padding: 1em;
  margin: 1em;
  border: 0.5em solid goldenrod;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
h1 {
  color: black;
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  background-color: blanchedalmond;
}
h2 {
  color: blue;
  font-size: 1em;
  font-weight: 200;
}
h3 {
  color: red;
  font-size: 0.8em;
  font-weight: 100;
}
img {
  width: 2em;
  height: 2em;
}
#side {
  display: flex;
  text-align: center;
  margin: 0;
  justify-content: flex-end;
  padding-left: 10em;
  padding-right: 10em;
}
#pAbout {
  text-align: center;
}
#borderExperience {
  border: 0.1em solid goldenrod;
  display: flex;
  flex-direction: column;
  padding: auto;
}
#Skills ul {
  display: flex;
  flex-direction: column;
}
#Message form {
  display: flex;
  flex-direction: row;
}
#Projects ul {
  display: flex;
  flex-direction: column-reverse;
}

/*Tablet queries*/
@media (min-width: 600px) and (max-width: 1000px) {
  body {
    background-color: khaki;
    color: black;
    font-family: "Courier New", Courier, monospace;
  }

  #About {
    border: 0.5em solid rgb(119, 128, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: -1em;
  }

  #Experience {
    border: 0.5em solid rgb(119, 128, 0);
    margin-right: -1em;
    padding-right: 25em;
  }
  #Connect {
    padding: 1em;
    margin: 1em;
    border: 0.5em solid rgb(119, 128, 0);
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  h1 {
    color: black;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    background-color: chocolate;
  }
  h2 {
    color: blue;
    font-size: 1em;
    font-weight: 200;
  }
  h3 {
    color: red;
    font-size: 0.8em;
    font-weight: 100;
  }
  img {
    width: 2em;
    height: 2em;
  }
  #side {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  #pAbout {
    text-align: center;
  }
  #borderExperience {
    border: 0.1em solid rgb(119, 128, 0);
    display: flex;
    flex-direction: column;
    padding: auto;
    justify-content: flex-start;
  }
  #Skills ul {
    display: flex;
    flex-direction: column;
  }
  #Message form {
    display: flex;
    flex-direction: column;
  }
  #Projects ul {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: initial;
    flex-wrap: wrap;
  }
}

/*Phone queries*/
@media (max-width: 600px) {
  body {
    background-color: khaki;
    color: black;
    font-family: "Courier New", Courier, monospace;
  }

  #About {
    border: 0.5em solid greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #Experience {
    border: 0.5em solid greenyellow;
    padding-right: 25em;
    margin-left: -5em;
  }
  #Connect {
    padding: 1em;
    margin: 1em;
    border: 0.5em solid greenyellow;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  h1 {
    color: black;
    background-color: goldenrod;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
  }
  h2 {
    color: blue;
    font-size: 1em;
    font-weight: 200;
  }
  h3 {
    color: red;
    font-size: 0.8em;
    font-weight: 100;
  }
  img {
    width: 2em;
    height: 2em;
  }
  #side {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  #pAbout {
    text-align: center;
  }
  #borderExperience {
    border: 0.1em solid greenyellow;
    display: flex;
    flex-direction: column;
    padding: auto;
    justify-content: flex-start;
  }
  #Skills ul {
    display: flex;
    flex-direction: column;
  }
  #Message form {
    display: flex;
    flex-direction: column;
  }
  #Projects ul {
    display: flex;
    flex-direction: column-reverse;
  }
}
