body {
  background-color: aqua;
  color: azure;
  font-family: "Courier New", Courier, monospace;
}
#About {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

#Experience {
  padding: auto;
  margin: auto;
}
#Connect {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
h1 {
  color: red;
  size: 20px;
  font-weight: 100;
  text-align: center;
}
h2 {
  color: blue;
  size: 15px;
  font-weight: 200;
}
h3 {
  color: red;
  size: 20px;
  font-weight: 100;
}
#Experience ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: auto;
  list-style-type: none;
  gap: 50px;
}
img {
  width: 50px;
  height: 50px;
}
#Connect li {
  list-style-type: none;
}
